In [1]:
#first we'll import the wbgapi package
import wbgapi as wb

#we'll also import the other packages that we need
import pandas as pd
import numpy as np

In [ ]:
#The following are the indicator IDs that I use, a description of them for quick reference:

#Net official development assistance received (current US$)
#Net official development assistance (ODA) consists of disbursements of loans made on concessional terms 
# (net of repayments of principal) and grants by official agencies of the members of the Development Assistance Committee (DAC), 
# by multilateral institutions, and by non-DAC countries to promote economic development and welfare in countries and territories 
# in the DAC list of ODA recipients. It includes loans with a grant element of at least 25 percent 
# (calculated at a rate of discount of 10 percent). Data are in current U.S. dollars.
#ID: DT.ODA.ODAT.CD

#GDP per capita (current US$)
#GDP per capita is gross domestic product divided by midyear population. GDP is the sum of gross value 
# added by all resident producers in the economy plus any product taxes and minus any subsidies not 
# included in the value of the products. It is calculated without making deductions for depreciation of 
# fabricated assets or for depletion and degradation of natural resources. Data are in current U.S. dollars.
#ID: NY.GDP.PCAP.CD

#Literacy rate, adult total (% of people ages 15 and above)
#Adult literacy rate is the percentage of people ages 15 and above who can both read and write 
# with understanding a short simple statement about their everyday life.
#ID: SE.ADT.LITR.ZS

#Life expectancy at birth, total (years)
#Life expectancy at birth indicates the number of years a newborn infant would live if prevailing patterns 
# of mortality at the time of its birth were to stay the same throughout its life.
#ID: SP.DYN.LE00.IN

#Refugee population by country or territory of origin
#Refugees are people who are recognized as refugees under the 1951 Convention Relating to the Status of Refugees 
# or its 1967 Protocol, the 1969 Organization of African Unity Convention Governing the Specific Aspects of Refugee Problems in Africa, 
# people recognized as refugees in accordance with the UNHCR statute, people granted refugee-like humanitarian status, 
# and people provided temporary protection. Asylum seekers--people who have applied for asylum or refugee status 
# and who have not yet received a decision or who are registered as asylum seekers--are excluded. 
# Palestinian refugees are people (and their descendants) whose residence was Palestine between June 1946 and May 1948 and 
# who lost their homes and means of livelihood as a result of the 1948 Arab-Israeli conflict. 
# Country of origin generally refers to the nationality or country of citizenship of a claimant.
#ID: SM.POP.REFG.OR

#Refugee population by country or territory of asylum
#Refugees are people who are recognized as refugees under the 1951 Convention Relating to the Status of Refugees or its 1967 Protocol, 
# the 1969 Organization of African Unity Convention Governing the Specific Aspects of Refugee Problems in Africa, 
# people recognized as refugees in accordance with the UNHCR statute, people granted refugee-like humanitarian status, 
# and people provided temporary protection. Asylum seekers--people who have applied for asylum or refugee status and 
# who have not yet received a decision or who are registered as asylum seekers--are excluded. 
# Palestinian refugees are people (and their descendants) whose residence was Palestine between June 1946 and May 1948 
# and who lost their homes and means of livelihood as a result of the 1948 Arab-Israeli conflict. 
# Country of asylum is the country where an asylum claim was filed and granted.
#ID: SM.POP.REFG

In [9]:
# use the wbgapi to call the api
# create a dataframe with the above mentioned indicators, and select it for years 2010-2021
df = wb.data.DataFrame(['DT.ODA.ODAT.CD', 'NY.GDP.PCAP.CD', 'SE.ADT.LITR.ZS', 'SP.DYN.LE00.IN', 'SM.POP.REFG.OR', 'SM.POP.REFG'], 
                            time = range(2010,2021))

In [10]:
#let's check out our dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1596 entries, ('ABW', 'DT.ODA.ODAT.CD') to ('ZWE', 'SP.DYN.LE00.IN')
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YR2010  1222 non-null   float64
 1   YR2011  1234 non-null   float64
 2   YR2012  1216 non-null   float64
 3   YR2013  1212 non-null   float64
 4   YR2014  1236 non-null   float64
 5   YR2015  1220 non-null   float64
 6   YR2016  1208 non-null   float64
 7   YR2017  1205 non-null   float64
 8   YR2018  1245 non-null   float64
 9   YR2019  1191 non-null   float64
 10  YR2020  1152 non-null   float64
dtypes: float64(11)
memory usage: 144.1+ KB

In [11]:
#let's see the first 10 rows of our dataframe
df.head(n=10)

                              YR2010        YR2011        YR2012  \
economy series
ABW     DT.ODA.ODAT.CD           NaN           NaN           NaN
        NY.GDP.PCAP.CD  2.413447e+04  2.584996e+04  2.549684e+04
        SE.ADT.LITR.ZS  9.682264e+01           NaN           NaN
        SM.POP.REFG              NaN           NaN           NaN
        SM.POP.REFG.OR           NaN           NaN           NaN
        SP.DYN.LE00.IN  7.501700e+01  7.515800e+01  7.529900e+01
AFE     DT.ODA.ODAT.CD  2.497745e+10  2.853379e+10  2.622688e+10
        NY.GDP.PCAP.CD  1.659655e+03  1.810229e+03  1.777304e+03
        SE.ADT.LITR.ZS           NaN           NaN           NaN
        SM.POP.REFG     1.384532e+06  1.765825e+06  1.900709e+06

                              YR2013        YR2014        YR2015  \
economy series
ABW     DT.ODA.ODAT.CD           NaN           NaN           NaN
        NY.GDP.PCAP.CD  2.644243e+04  2.689506e+04  2.839905e+04
        SE.ADT.LITR.ZS           NaN           NaN           NaN
        SM.POP.REFG              NaN           NaN           NaN
        SM.POP.REFG.OR           NaN           NaN           NaN
        SP.DYN.LE00.IN  7.544100e+01  7.558300e+01  7.572500e+01
AFE     DT.ODA.ODAT.CD  2.920757e+10  2.590026e+10  2.549711e+10
        NY.GDP.PCAP.CD  1.748906e+03  1.736242e+03  1.556316e+03
        SE.ADT.LITR.ZS           NaN           NaN           NaN
        SM.POP.REFG     2.054335e+06  2.637640e+06  3.333273e+06

                              YR2016        YR2017        YR2018  \
economy series
ABW     DT.ODA.ODAT.CD           NaN           NaN           NaN
        NY.GDP.PCAP.CD  2.845372e+04  2.934842e+04  3.025371e+04
        SE.ADT.LITR.ZS           NaN           NaN  9.780742e+01
        SM.POP.REFG              NaN           NaN           NaN
        SM.POP.REFG.OR           NaN           NaN           NaN
        SP.DYN.LE00.IN  7.586800e+01  7.601000e+01  7.615200e+01
AFE     DT.ODA.ODAT.CD  2.506915e+10  2.788161e+10  2.752549e+10
        NY.GDP.PCAP.CD  1.446534e+03  1.629404e+03  1.541032e+03
        SE.ADT.LITR.ZS           NaN           NaN           NaN
        SM.POP.REFG     3.990478e+06  5.155400e+06  5.114399e+06

                              YR2019        YR2020
economy series
ABW     DT.ODA.ODAT.CD           NaN           NaN
        NY.GDP.PCAP.CD  3.113588e+04  2.338430e+04
        SE.ADT.LITR.ZS           NaN           NaN
        SM.POP.REFG              NaN           NaN
        SM.POP.REFG.OR           NaN           NaN
        SP.DYN.LE00.IN  7.629300e+01  7.643400e+01
AFE     DT.ODA.ODAT.CD  3.020291e+10           NaN
        NY.GDP.PCAP.CD  1.511309e+03  1.360879e+03
        SE.ADT.LITR.ZS           NaN           NaN
        SM.POP.REFG     5.087755e+06  5.183533e+06

In [12]:
#for now I don't want the economy or series to be used as an index, so I will reset the index
df.reset_index()

,economy,series,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
0,ABW,DT.ODA.ODAT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,NY.GDP.PCAP.CD,24134.473859,25849.964006,25496.843942,26442.426801,26895.057167,28399.050131,28453.715565,29348.418969,30253.714235,31135.884356,23384.298791
2,ABW,SE.ADT.LITR.ZS,96.822639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.807419,NaN,NaN
3,ABW,SM.POP.REFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,SM.POP.REFG.OR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,ZWE,NY.GDP.PCAP.CD,948.331481,1093.653409,1304.968011,1429.998461,1434.896277,1445.069702,1464.588957,1235.189032,1254.642265,1316.740657,1214.509820
1592,ZWE,SE.ADT.LITR.ZS,NaN,83.582710,NaN,NaN,88.693420,NaN,NaN,NaN,NaN,NaN,NaN
1593,ZWE,SM.POP.REFG,4432.000000,4559.000000,4354.000000,6387.000000,6076.000000,6943.000000,7423.000000,7566.000000,7795.000000,8956.000000,9261.000000
1594,ZWE,SM.POP.REFG.OR,24080.000000,25033.000000,22082.000000,19719.000000,22478.000000,21332.000000,18141.000000,17420.000000,15618.000000,10045.000000,8575.000000
1595,ZWE,SP.DYN.LE00.IN,50.640000,52.896000,55.032000,56.897000,58.410000,59.534000,60.294000,60.812000,61.195000,61.490000,61.738000

In [ ]:
#looks like we have a great dataframe to work with!